// @import "components/mixins.scss";

$primary_1: #000000;
$primary_2: #43e0cb;
$primary_3: #ffffff;
$font_size: 16px;
$display_1: flex;

.container {
  background-color: $primary_3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;

  // &.white {
  //   background: $white;
  // }

  // &.gray {
  //   background: $gray-1;
  // }
}

.p-header {
  background-color: $primary_1;
  font-size: $font_size;
  padding: 10px 20px;
}

.logo {
  display: $display_1;
  align-items: center;
}

.logoText {
  color: $primary_3;
  padding-left: 10px;
}

.button {
  border: 1px solid $primary_2;
  border-radius: 10px;
  padding: 4px 10px;
}
