$primary_1: #000000;
$primary_2: #43e0cb;
$primary_3: #ffffff;
$font_size: 16px;
$display_1: flex;

p {
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.img {
  border-radius: 50%;
}

.imageItems {
  text-align: center;
  margin-left: 50px;
}

.subText {
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold;
}
